.main-container {
  padding: 5%;
}

.name-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/money-manager/money-manager-bg.png');
  background-size: cover;
  padding: 1%;
  width: 100%;
  border: none;
  border-radius: 25px;
}

.balance-container {
  float: left;
  width: 30%;
  margin: 1%;
  display: flex;
  background-color: #ecfccb;
  padding: 1%;
  border-radius: 10px;
}

.img-container > img {
  width: 45%;
}

.img-container {
  width: 40%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 5%;
}

.balance-para,
.amount-para {
  font-size: 1.5vw;
  font-weight: bold;
  color: #1e293b;
}

.amount-para {
  font-size: 2vw;
  margin: 0px;
  overflow: auto;
}

.income {
  background-color: #cffafe;
}

.expense {
  background-color: #ede9fe;
}

.money-detail-containers {
  display: flex;
  justify-content: center;
}

.inputs-history-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.input-container,
.history-table-container {
  float: left;
  width: 48%;
  margin: 2%;
  padding: 1%;
  border: none;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  box-shadow:
    0px 0px 8px #ede9fe,
    -0px -0px 8px #ede9fe;
}

.input-container {
  padding-left: 5%;
}

.history-table-container {
  overflow: auto;
  max-height: 400px;
}

label {
  font-size: 1.5vw;
  color: #7e858e;
}

input,
select {
  font-size: 1vw;
  padding: 1% 2%;
  width: 60%;
  border: none;
  border-radius: 4px;
  margin-bottom: 4%;
  box-shadow:
    0px 0px 5px #cffafe,
    -0px -0px 5px #cffafe;
}

input:focus,
select:focus {
  outline: none;
}

.add-transaction-btn {
  font-size: 1.5vw;
  padding: 2% 8%;
  border: none;
  border-radius: 4px;
  background-color: #0b69ff;
  color: #ffffff;
  font-weight: bold;
  align-self: flex-start;
}

.error {
  font-size: 1vw;
  color: red;
}

ul {
  list-style: none;
  width: 100%;
  padding: 0px;
}

ul > h1 {
  margin: 0px;
}

ul li {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  box-shadow:
    0px 0px 5px #cffafe,
    -0px -0px 5px #cffafe;
}

ul li p {
  margin: 0px;
  padding: 2%;
  float: left;
  width: 25%;
  margin-bottom: 2%;
  z-index: 1;
}

ul li button {
  float: left;
  width: 25%;
  background-color: transparent;
  border: none;
  
}

ul li img {
  width: 15%;
}


